anyio 
appdirs 
appnope 
argon2-cffi 
argon2-cffi-bindings 
arrow 
asttokens 
async-lru 
attrs 
Babel 
beautifulsoup4 
bleach 
Brotli 
cached-property 
certifi 
cffi 
charset-normalizer 
comm 
contourpy 
cycler 
debugpy 
decorator 
defusedxml 
entrypoints 
exceptiongroup 
executing 
fastjsonschema 
fonttools 
fqdn 
frozendict 
h11 
h2 
hpack
html5lib 
httpcore 
httpx 
hyperframe 
idna 
importlib_metadata 
importlib_resources 
ipykernel 
ipython 
ipywidgets 
isoduration 
jedi 
Jinja2 
joblib 
json5 
jsonpointer 
jsonschema 
jsonschema-specifications 
jupyter 
jupyter-console 
jupyter-events 
jupyter-lsp 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab_pygments 
jupyterlab_server 
jupyterlab_widgets 
kiwisolver 
lxml 
markdown-it-py 
MarkupSafe 
matplotlib 
matplotlib-inline 
mdurl 
mistune 
multitasking 
munkres
nbclient 
nbconvert 
nbformat 
nest_asyncio 
notebook 
notebook_shim 
numpy 
overrides 
packaging 
pandas 
pandocfilters 
parso 
patsy 
peewee 
pexpect 
pickleshare 
pillow 
pkgutil_resolve_name 
platformdirs 
prometheus_client 
prompt-toolkit 
psutil 
ptyprocess 
pure-eval 
pycparser 
Pygments 
pyobjc-core 
pyobjc-framework-Cocoa 
pyparsing 
PySocks 
python-dateutil 
python-json-logger 
pytz 
PyYAML 
pyzmq 
qtconsole 
QtPy 
referencing 
requests 
rfc3339-validator 
rfc3986-validator 
rich 
rpds-py 
scikit-learn 
scipy 
Send2Trash 
six 
sniffio 
soupsieve 
stack-data 
statsmodels 
terminado 
threadpoolctl 
tinycss2 
tomli 
tornado 
traitlets 
types-python-dateutil 
typing-utils 
typing_extensions 
tzdata 
unicodedata2 
uri-template 
urllib3 
wcwidth 
webcolors 
webencodings 
websocket-client 
widgetsnbextension 
yfinance 
zipp 
